
@{
    ViewData["Title"] = "Patients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>Patients</h1>
<div class="row">
    <div class="col col-pat">
        <div class="picture col">
        </div>
        <div class="name col">
            <p>John James</p>
        </div>
        <div>
        </div>
    </div>
    <div class="col col-pat">
        <div class="picture">
        </div>
        <div class="name">
            <p>John James</p>
        </div>
        <div>
        </div>
    </div>
    <div class="col col-pat">
        <div class="picture">
        </div>
        <div class="name">
            <p>John James</p>
        </div>
        <div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col col-pat">
        <div class="picture col">
        </div>
        <div class="name col">
            <p>John James</p>
        </div>
        <div>
        </div>
    </div>
    <div class="col col-pat">
        <div class="picture">
        </div>
        <div class="name">
            <p>John James</p>
        </div>
        <div>
        </div>
    </div>
    <div class="col col-pat">
        <div class="picture">
        </div>
        <div class="name">
            <p>John James</p>
        </div>
        <div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col col-pat">
        <div class="picture col">
        </div>
        <div class="name col">
            <p>John James</p>
        </div>
        <div>
        </div>
    </div>
    <div class="col col-pat">
        <div class="picture">
        </div>
        <div class="name">
            <p>John James</p>
        </div>
        <div>
        </div>
    </div>
    <div class="col col-pat">
        <div class="picture">
        </div>
        <div class="name">
            <p>John James</p>
        </div>
        <div>
        </div>
    </div>
</div>

