
@{
    ViewData["Title"] = "Inbox";
        Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Inbox</h1>

<div class="container">
    <div class="content-wrapper">
        <div class="email-wrapper wrapper">
            <div class="row align-items-stretch">
                <!-- Mail Sidebar -->
                <div class="mail-sidebar d-none d-lg-block col-md-2 pt-3 bg-white">
                    <div class="menu-bar">
                        <ul class="menu-items">
                            <li class="compose mb-3"><button class="btn btn-primary btn-block">Compose</button></li>
                            <li class="active"><a href="#"><i class="mdi mdi-email-outline"></i> Inbox</a><span class="badge badge-pill badge-success">8</span></li>
                            <li><a href="#"><i class="mdi mdi-share"></i> Sent</a></li>
                            <li><a href="#"><i class="mdi mdi-file-outline"></i> Draft</a><span class="badge badge-pill badge-warning">4</span></li>
                            <li><a href="#"><i class="mdi mdi-upload"></i> Outbox</a><span class="badge badge-pill badge-danger">3</span></li>
                            <li><a href="#"><i class="mdi mdi-star-outline"></i> Starred</a></li>
                            <li><a href="#"><i class="mdi mdi-delete"></i> Trash</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Mail List Container -->
                <div class="mail-list-container col-md-3 pt-4 pb-4 border-right bg-white">
                    <div class="border-bottom pb-4 mb-3 px-3">
                        <!-- Inbox Search -->
                        <div class="form-group">
                            <input class="form-control w-100" type="search" placeholder="Search mail" id="Mail-rearch">
                        </div>
                    </div>
                    <!-- Mail List-->
                    <div class="mail-list">
                        <div class="form-check"> <label class="form-check-label"> <input type="checkbox" class="form-check-input"> <i class="input-helper"></i></label></div>
                        <div class="content">
                            <p class="sender-name">David Moore</p>
                            <p class="message_text">Hi Emily, Please be informed that the new project presentation is due Monday.</p>
                        </div>
                        <div class="details">
                            <i class="mdi mdi-star-outline"></i>
                        </div>
                    </div>
                    <div class="mail-list new_mail">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" checked="">
                                <i class="input-helper"></i>
                            </label>
                        </div>
                        <div class="content">
                            <p class="sender-name">John Smith</p>
                            <p class="message_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a fringilla dolor.</p>
                        </div>
                        <div class="details">
                            <i class="mdi mdi-star favorite"></i>
                        </div>
                    </div>
                    <div class="mail-list">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                                <i class="input-helper"></i>
                            </label>
                        </div>
                        <div class="content">
                            <p class="sender-name">Mike Schmidt</p>
                            <p class="message_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a fringilla dolor.</p>
                        </div>
                        <div class="details">
                            <i class="mdi mdi-star-outline"></i>
                        </div>
                    </div>
                    <div class="mail-list">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                                <i class="input-helper"></i>
                            </label>
                        </div>
                        <div class="content">
                            <p class="sender-name">Tim Stevens</p>
                            <p class="message_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a fringilla dolor.</p>
                        </div>
                        <div class="details">
                            <i class="mdi mdi-star favorite"></i>
                        </div>
                    </div>
                    <div class="mail-list">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                                <i class="input-helper"></i>
                            </label>
                        </div>
                        <div class="content">
                            <p class="sender-name">Tim Stevens</p>
                            <p class="message_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a fringilla dolor.</p>
                        </div>
                        <div class="details">
                            <i class="mdi mdi-star favorite"></i>
                        </div>
                    </div>
                </div>
                <!-- Mail View -->
                <div class="mail-view d-none d-md-block col-md-9 col-lg-7 bg-white">
                    <div class="row">
                        <div class="col-md-12 mb-4 mt-4">
                            <!-- Inbox Toolbar-->
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><i class="mdi mdi-reply text-primary mr-1"></i> Reply</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><i class="mdi mdi-reply-all text-primary mr-1"></i>Reply All</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><i class="mdi mdi-share text-primary mr-1"></i>Forward</button>
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><i class="mdi mdi-attachment text-primary mr-1"></i>Attach</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><i class="mdi mdi-delete text-primary mr-1"></i>Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="message-body">
                        <div class="sender-details">
                            <div class="details">
                                <p class="msg-subject">
                                    Weekly Update - Week 19 (May 8, 2017 - May 14, 2017)
                                </p>
                                <p class="sender-email">
                                    From:
                                    John Smith
                                    <a href="#">(john.smith@gmail.com)</a>
                                    &nbsp;<i class="mdi mdi-account-multiple-plus"></i>
                                </p>
                            </div>
                        </div>
                        <div class="message-content">
                            <p>Hi Harry,</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rhoncus imperdiet diam, id mattis magna suscipit non. Integer scelerisque magna et condimentum porta. Curabitur neque erat, volutpat auctor est at, faucibus consectetur sem. Aliquam erat volutpat. Aliquam erat volutpat</p>
                            <p>Nullam vitae venenatis mauris. Phasellus feugiat sed lectus in accumsan. Aliquam placerat feugiat pellentesque. Quisque vel odio eu urna pharetra sodales ac et sem.</p>
                            <p><br><br>Regards,<br>John Smith</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>