
@{
    ViewData["Title"] = "Inbox";
}

<h1>Inbox</h1>

<div class="inbox-container mb-4">
    <nav>
        <a href="#" class="btn btn-success btn-block">Compose</a>
        <ul class="nav">
            <li>
                <a class="nav-link" href="#"><i class=""></i> Inbox</a>
            </li>
            <li>
                <a class="nav-link" href="#"><i></i> Starred</a>
            </li>
            <li>
                <a class="nav-link" href="#"><i></i> Sent</a>
            </li>
            <li>
                <a class="nav-link" href=""><i></i> Trash</a>
            </li>
            <li>
                <a class="nav-link" href=""><i></i> Important</a>
            </li>
        </ul>
    </nav>
    <main class="inbox">
        <div class="toolbar">
            <div class="btn-group">

            </div>
        </div>
    </main>
</div>