
@{
    ViewData["Title"] = "Inbox";
}

<h1>Inbox</h1>

<link rel="stylesheet" href="//cdn.materialdesignicons.com/3.7.95/css/materialdesignicons.min.css">

<div class="container">
    <div class="content-wrapper">
        <div class="email-wrapper wrapper">
            <div class="row align-items-stretch">
                <div class="mail-sidebar d-none d-lg-block col-md-2 pt-3 bg-white">
                    <div class="menu-bar">
                        <ul class="menu-items">
                            <li class="compose mb-3"><button class="btn btn-primary btn-block">Compose</button></li>
                            <li class="active"><a href="#"><i class="mdi mdi-email-outline"></i> Inbox</a><span class="badge badge-pill badge-success">8</span></li>
                            <li><a href="#"><i class="mdi mdi-share"></i> Sent</a></li>
                            <li><a href="#"><i class="mdi mdi-file-outline"></i> Draft</a><span class="badge badge-pill badge-warning">4</span></li>
                            <li><a href="#"><i class="mdi mdi-upload"></i> Outbox</a><span class="badge badge-pill badge-danger">3</span></li>
                            <li><a href="#"><i class="mdi mdi-star-outline"></i> Starred</a></li>
                            <li><a href="#"><i class="mdi mdi-delete"></i> Trash</a></li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>